<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Authors List</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/authors/new}">Add New Author</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="author : ${authors}">
                    <td th:text="${author.id}"></td>
                    <td th:text="${author.name}"></td>
                    <td th:text="${author.email}"></td>
                    <td>
                        <a th:href="@{/authors/edit/{id}(id=${author.id})}" class="button">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy; 2024 Bookstore. All rights reserved.</p>
    </footer>
</body>
</html>
